
    <div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/descarga.png" class="img-fluid"alt="" id="profilepic">
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
    <p id="name">Maximiliano Lopez</p>
    <p>Full Stack Java Jr</p>

</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
    <span><h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolores amet omnis officiis possimus tempore rerum, cumque mollitia architecto voluptatem. Optio, perferendis dolor. Quisquam, eius? Eos id beatae harum fugit?
        </p>
    
    </span>
</div>

</div>
