<div>
<div class="row">
    <h1>Skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'HTML'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'Javascript'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'Java'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'Ingles'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'Trabajo en Equipo'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'1em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="15"
    [radius]="100"
    [title]="'GitHub'"
    [imageSrc]="'../../../assets/html.svg'"
    [showImage]="false"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
    [showUnits]="false"
    [imageHeight]="80"
    [imageWidth]="140"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>



</div>


